@model List<ProjectForDemoOnly.Models.Services.MyAnimeListModel.MAL_TopAnime>
@using ProjectForDemoOnly.Services.MyAnimeList


<div class="product__sidebar">
    <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Anime</h5>
        </div>
        <ul class="filter__controls">
            <li data-filter=".week">@CategoryOptions.airing</li>
            <li data-filter=".month">@CategoryOptions.special</li>
            <li data-filter=".years">@CategoryOptions.movie</li>
            <li data-filter=".years">@CategoryOptions.upcoming</li>
            <li data-filter=".years">@CategoryOptions.bypopularity</li>

        </ul>

        <div class="filter__gallery">
            @foreach (var anime in Model)
            {
                <div class="product__sidebar__view__item set-bg mix day years" style="background-image: url('@anime.picture_url');">
                    <div class="ep">Rank: @anime.rank</div>
                    <div class="view"><i class="fa fa-eye"></i> @anime.members</div>
                    <h5><a href="@anime.myanimelist_url">@anime.title</a></h5>
                    <p>Score: @anime.score</p>
                    <p>Type: @anime.type</p>
                    <p>Aired: @anime.aired_on</p>
                </div>
            }
        </div>
    </div>
</div>