@model ProjectForDemoOnly.Models.Services.MyAnimeListModel.MAL_AnimeOfSeason
@using System.Text.RegularExpressions;


@*
    Refactor: Anime of Seasonal.
*@

<div class="trending__product">
    <div class="row">
        @if (Model != null && Model.TVNew != null)
        {
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="section-title">
                    <h4>[@Html.DisplayName(Model.TVNew.ToString())</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="btn__all">
                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                </div>
            </div>
        }
    </div>

    @* TV *@

    <div class="row">
        @if (Model != null && Model.TVNew != null)
        {
            foreach (var item in Model.TVNew)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre.ToString()</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>


<div class="trending__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                @if (Model != null && Model.TVNew != null)
                {
                    <h4>[@Html.DisplayName(Model.TVCon.ToString())</h4>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>

    @* TV CON *@

    <div class="row">
        @if (Model != null && Model.TVCon != null)
        {
            foreach (var item in Model.TVCon)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>

<div class="trending__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                @if (Model != null && Model.TV != null)
                {
                    <h4>[@Html.DisplayName(Model.TV.ToString())</h4>
                }

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>

    @* TV NEW *@

    <div class="row">
        @if (Model != null && Model.TV != null)
        {
            foreach (var item in Model.TV)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>


<div class="trending__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                @if (Model != null && Model.TVNew != null)
                {
                    <h4>[@Html.DisplayName(Model.ONAs.ToString())</h4>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>

    @* ONAs *@

    <div class="row">
        @if (Model != null && Model.ONAs != null)
        {
            foreach (var item in Model.ONAs)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>

<div class="trending__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                @if (Model != null && Model.TVNew != null)
                {
                    <h4>[@Html.DisplayName(Model.Movies.ToString())</h4>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>

    @* Movies *@

    <div class="row">
        @if (Model != null && Model.Movies != null)
        {
            foreach (var item in Model.Movies)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>

<div class="trending__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                @if (Model != null && Model.TVNew != null)
                {
                    <h4>[@Html.DisplayName(Model.Specials.ToString())</h4>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>


    @* Specials *@

    <div class="row">
        @if (Model != null && Model.Specials != null)
        {
            foreach (var item in Model.Specials)
            {

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                             data-setbg="@item.picture"
                             style="background-image: url('@item.picture');width: 100%;background-position: center;background-size: cover;">
                            <div class="ep">@item.nbEp</div>
                            <div class="comment"><i class="fa fa-comments"></i> @item.members</div>
                            <div class="view"><i class="fa fa-eye"></i> @item.score</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                @foreach (var genre in item.genres)
                                {
                                    <li>@genre</li>
                                }
                            </ul>
                            <h5><a href="#">@item.title</a></h5>
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h1>null</h1>
        }

    </div>
</div>