@model List<ProjectForDemoOnly.Models.Services.MyAnimeListModel.MAL_TopAnime>
@using ProjectForDemoOnly.Models.Services.MyAnimeListModel

<div class="product__sidebar">
    <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Anime</h5>
        </div>
        <ul class="filter__controls">
            <li data-filter=".week">@CategoryOptions.airing</li>
            <li data-filter=".month">@CategoryOptions.special</li>
            <li data-filter=".years">@CategoryOptions.movie</li>
            <li data-filter=".years">@CategoryOptions.upcoming</li>
            <li data-filter=".years">@CategoryOptions.bypopularity</li>

        </ul>

        <div class="filter__gallery">
            @foreach (var anime in Model)
            {
                <div class="product__sidebar__view__item set-bg mix day years" style="background-image: url('@anime.picture_url');">
                    <div class="ep">Rank: @anime.rank</div> <!-- Cập nhật số tập nếu cần -->
                    <div class="view"><i class="fa fa-eye"></i> @anime.members</div>
                    <h5><a href="@anime.myanimelist_url">@anime.title</a></h5>
                    <p>Score: @anime.score</p>
                    <p>Type: @anime.type</p>
                    <p>Aired: @anime.aired_on</p>
                </div>
            }
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comment</h5>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-1.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-2.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Shirogane Tamashii hen Kouhan sen</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-3.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Kizumonogatari III: Reiket su-hen</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-4.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Monogatari Series: Second Season</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
    </div>
</div>